@import url('https://fonts.googleapis.com/css?family=Anton');

.container-bb {
	display: flex;
	flex-direction: column;
	padding: 100px;
}

.card.bb {
	width: 40rem;
	height: 30rem;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	background-image: url("https://www.israelstudies.umd.edu/files/2017/09/dark-1a9lh34.jpg");
	transition: all .2s ease-in-out;
}

.card.bb:hover {
	transform: scale(1.06);
}

.card-img-top-no {
	width: 100%;
	height: 15vw;
	border-radius: 25px;
	object-fit: cover;
}

.card-img-top-phul {
	width: 100%;
	height: 15vw;
	border-radius: 25px;
	object-fit: cover;
}

.card-img-top-phat {
	width: 100%;
	height: 15vw;
	border-radius: 25px;
	object-fit: cover;
}

.card-title {
	margin: 30px;
}

.button-back-div {
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 25px;
	color: white;
}

.button-back {
	margin: 50px;
	height: 50px;
	width: 200px;
	border-radius: 10px;
	box-shadow: 0 3px #999;
	transition: all .2s ease-in-out;
}

.button-back:hover {
	transform: scale(1.06);
}
