@import url('https://fonts.googleapis.com/css?family=Anton');

.container {
	display: flex;
}

.card.str {
	width: 40rem;
	height: 30rem;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	background-image: url("https://www.israelstudies.umd.edu/files/2017/09/dark-1a9lh34.jpg");
	transition: all .2s ease-in-out;
}

.card.str:hover {
	transform: scale(1.06);
}

.card-img-top-strength {
	width: auto;
	height: 22rem;
	border-radius: 10px;
}

.card-img-top-bodybuilding {
	width: auto;
	height: 22rem;
	border-radius: 10px;
}

.card {
	width: 40rem;
	height: 30rem;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	background-image: url("https://www.israelstudies.umd.edu/files/2017/09/dark-1a9lh34.jpg");
	color: white;
}

.card-body {
	text-align: center;
	vertical-align: middle;
}

.card-title {
	font-family: 'Anton', sans-serif;
	font-size: 35px;
}

